body.dark {
	background-color: #333;
}

.dark h1 {
	color: #DDD;
}

.dark div {
	color: #DDD;
}

.dark a {
	color: #AAF;
}

.dark a:visited {
	color: #DAC;
}

.dark button {
	background-color: #555;
	border-color: #555;
	color: #DDD;
}

.dark button.selected-theme {
	background-color: #444; 
	border-color: #222
}
